<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="About Rule">
                    <match url="^about/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="about/index.php?slug={R:1}" />
                </rule>
				<rule name="Contact Rule">
                    <match url="^contact/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="contact/index.php?slug={R:1}" />
                </rule>
				<rule name="Project Rule">
                    <match url="^project/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="project/index.php?slug={R:1}" />
                </rule>
				<rule name="News Rule">
                    <match url="^news/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="news/index.php?slug={R:1}" />
                </rule>
				<rule name="No Problem">
                    <match url="^no-problem/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="no-problem/index.php?slug={R:1}" />
                </rule>
				<rule name="Television Shows">
                    <match url="^television-shows/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="television-shows/index.php?slug={R:1}" />
                </rule>
				<rule name="Documentaries">
                    <match url="^documentaries/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="documentaries/index.php?slug={R:1}" />
                </rule>
				<rule name="Corporate Films">
                    <match url="^corporate-films/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="corporate-films/index.php?slug={R:1}" />
                </rule>
				<rule name="Others">
                    <match url="^others/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="others/index.php?slug={R:1}" />
                </rule>
				<rule name="house-of-qidwa">
                    <match url="^house-of-qidwa/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="house-of-qidwa/index.php?slug={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
